<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP-News</title>
        <link id='favicon' rel="icon" type="image/svg">
    </head>

    <body onload="toggle_snow()">
        <div id="snow"></div>

        <header>
            <div class="logo">
                <img id='logo' width="32px" height="32px" alt="Logo"/>
            </div>
            <div class="mynav">
                -
            </div>
        </header>

        <main>
            <section>
                <form name='myform' class="myform" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="Client.onBlur()" placeholder="URL/Text">
                    <input type="submit" name="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p><a href="https://cse-hashim.github.io/cv/">Hashim Hossam</a></p>
        </footer>

    </body>

</html>
